* {
  margin: 0;
  padding: 0;
}
@import url("../reach_Us/fonts/fonts.css");

h1 {
  margin-top: 15%;
  margin-bottom: 2%;
  color: white;
  text-align: center;
  font-size: 3rem;
}

body {
  font-family: "Montserrat", sans-serif;
  background-image: url("./finsl.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  margin-bottom: 3%;
  background-color: #17242e;
  min-height: 100vh;
  opacity: 1;
  @media screen and (min-width: 960px) {
    height: 100vh;
    overflow: hidden;
  }
}

h1,
p {
  @media screen and (max-width: 960px) {
    max-width: 80vw;
    margin: 10vw 10vh;
  }
}

h1 {
  @media screen and (min-width: 960px) {
    margin-top: 25vh;
  }
  @media screen and (max-width: 960px) {
    margin-top: 20vh;
  }
}

.merch-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 0;
  margin-bottom: 0;
}
.sec {
  width: 70vw;
  aspect-ratio: 1.7/2.4;
  @media screen and (min-width: 960px) {
    display: none;
  }
}

.tem {
  min-height: 50vh;
  aspect-ratio: 4/2.5;
  @media screen and (max-width: 960px) {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  h1 {
    font-size: 1.5rem;
  }

  p {
    font-size: 0.5rem;
  }
}
